body {
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: white;
    color: black;
    padding: 20px;
}

section {
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

section.feature-box.one div {
    background: red;
}

div {
    background: blue;
    width: 100px;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    background: gray;
    padding: 3px;
    border-radius: 3px;
}

li:hover {
    background: rgb(92, 92, 92);
}

li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: white;
    color: black;
    padding: 10px 20px;
}