body {
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    color: black;
    padding: 20px;
}

h1 {
    color: lightskyblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    background: gray;
    padding: 3px;
    border-radius: 3px;
}

li:hover {
    background: lightskyblue;
}

li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

section {
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

section.feature-box.one div {
    background: lightskyblue;
}

section.feature-box.one {
    background: gray;
    height: 100px;

}

section.feature-box.two {
    background: lightskyblue;
    height: 100px;
}

div {
    background: blue;
    width: 100px;
    height: 20px;
    margin: 30px;
    border-radius: 5px;
}

div.one {
    margin-left: 0;
}

footer {
    background: gray;
    color: black;
    padding: 10px 20px;
}