body {
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    background-image: url("images/hero.jpg");
    background-size: 100%;
    background-position: center;
    color: black;
    height: 400px;
    padding: 20px;
    text-align: center;
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header .logo a {
    background-image: url("images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 110px;
    position: relative;
    text-indent: -99999px;
    top: -50px;
    width: 300px;
}

h1 {
    color: lightskyblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    padding: 3px;
    border-radius: 3px;
}

li:hover {
    background: lightskyblue;
}

li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/*FEATURES*/
.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.features figure {
    margin: auto;
    width: 200px;
    text-align: center;
}

.features figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    /*Takes 4 properties: color, offset of horizontal, offest of vertical, and width*/
    width: 200px;

}

div {
    background: lightskyblue;
    width: 100px;
    height: 20px;
    margin: 30px;
    border-radius: 5px;
}

div.one {
    margin-left: 0;
}

/*FOOTER*/
footer {
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}